.wrapper {
    margin: 36px auto 0;
    width: 460px;
    position: relative;
    z-index: 10;
}

@media (max-width: 460px) {
    .wrapper {
        margin: 20px auto 0;
        width: 240px;
    }
}
