/* ==========================================================================
   #GAME UI
   ========================================================================== */

/**
 * This is a component. Extend inuitcss by building your own components
 * that make up your UI. Component classes are prefixed with a `c-`.
 */

/* Style Variants
   ========================================================================== */

.title {
    font-size: 2rem;
    text-align: center;
}

.top-text {
    text-align: center;
}

.board-container {
    margin-top: 30px;
    padding: 20px;
    background-color: $board-bkg;
    box-sizing: border-box;
    width: 500px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 1px 1px 12px 12px rgba(0, 0, 0, .2);
}

.board {
    margin: 0 auto;

    button {
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 0;
        margin: 1px;
        background: #fff;
    }

    button:hover {
        filter: brightness(75%);
    }

    button:focus {
        outline: 0;
    }

    button::-moz-focus-inner {
        border: 0;
    }

    button.red {
        background: #ad0505;
        background: linear-gradient(to bottom, #ff1616 0%, #ad0505 100%);
    }

    button.black {
        background: #000;
        background: linear-gradient(to bottom, #333 0%, #000000 100%);
    }
}

.play-again {
    height: auto;
    overflow: hidden;
}

.play-again.show {
    height: 40px;
    transition: 0.75s;
}

.play-again-btn {
    display: inline-block;
    margin-bottom: 2em;
    height: 40px;
    line-height: 40px;
    width: 50%;
    background: mediumseagreen;
    color: white;
    text-decoration: none;
    opacity: 0.9;
}

.play-again-btn:hover,
.play-again-btn:focus {
    background: #359660;
}

.play-again:hover {
    opacity: 1;
}

.primary {
    color: black;
    margin: 0 0 0.75rem;
    font-weight: normal;
    border-bottom: 1px solid black;
    padding: 0 1.25em 0 0.25em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;

    .red,
    .black {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .red:after,
    .black:after {
        display: block;
        width: 40px;
        height: 40px;
        content: "";
        position: relative;
        margin-left: 10px;
        border-radius: 50%;
    }


    .red::after {
        background: linear-gradient(to bottom, #ff1616 0%, #ad0505 100%);
    }

    .black::after {
        background: linear-gradient(to bottom, #333 0%, #000000 100%);
    }


}



/* Mobile & Tablet
   ========================================================================== */

@media (max-width: 1023px) {}

@media (min-width: 768px) AND (max-width: 768px) {}

@media (max-width: 650px) {
    .board button {
        width: 30px;
        height: 30px;
    }
}
