//* ========================================================================
//   #CORE
//   ======================================================================== */

// This core file sets up inuitcss’ most important setup variables. They
// underpin a lot of how the framework functions and should be modified and
// preconfigured with caution.

/// Colors
$red-color:rgb(213, 0, 0);
$yellow-color: rgb(218, 212, 0);
$base-color: rgb(0, 0, 0);
$border-color: rgb(11, 78, 114);
$light-color: rgb(213, 228, 237);
$body-background: rgb(255, 255, 255);
$board-bkg: rgb(0, 116, 179);

/// Transition Variables
$transition-time : 200ms;
$tranistion-effect: linear;

/// Base typographical styles.
$font-family: 'Tw Cen MT',
Helvetica,
sans-serif;
$global-font-size: 14px !default;
$global-tile-font-size: 18px !default;


///Firework Animation Variables

$particles: 50;
$width: 500;
$height: 500;

// Create the explosion...
$box-shadow: ();
$box-shadow2: ();
