<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Connect Four Game Test</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js"></script>
	<!-- build:css -->
	<link href="//db.onlinewebfonts.com/c/9b62dc86f936227b3f7b367bd0b6c05e?family=Tw+Cen+MT" rel="stylesheet"
		type="text/css" />
	<link rel="stylesheet" href="css/style.css" />
	<!-- endbuild -->
</head>

<body>
	<section class="wrapper">
		<div class="center">
			<h1 class="title">Connect Four</h1>
			<div id="top-text" class="top-text">
				<h2 class="primary">
					<span id="prefix">Current player is: </span>
					<span id="current-player" contenteditable="false"></span>
				</h2>
				<div id="play-again" class="play-again">
					<a href="#" class="play-again-btn" id="play-again-btn">Reset Game</a>
				</div>
			</div>
			<div class="board-container">
				<table id="board" class="board">
					<tbody id="board-canvas">
					</tbody>
				</table>
			</div>
	</section>
	<div class="pyro">
		<div class="before"></div>
		<div class="after"></div>
	</div>
	<script type="text/handlebar-template" id="row-template">
		{{#each this}}
			<tr>
				{{#each this}}
					<td ><button class={{this}} type="button"></button></td>
				{{/each}}
			</tr>
		{{/each}}
	</script>
	<!-- build:js -->
	<script src="js/app.js"></script>
	<!-- endbuild  -->
</body>

</html>
