/* ==========================================================================
   #BODY  ELEMENT
   ========================================================================== */

/**
 * general style for body
 */
body {
    font-family: $font-family;
    background-color: $body-background;
    font-size: $global-font-size;
    color: $base-color;
    padding: 0;
    margin: 0;
    direction: ltr;
    text-align: left;
}

body *,
body a,
body image {
    outline: none !important;
}


a {
    cursor: pointer;
}
