//* ========================================================================
//   #HOVER EFFECTS TRANSITION
//   ======================================================================== */

// Mixin to quickly apply accessible hiding to elements.

@mixin transition() {
  transition: all $transition-time $tranistion-effect;
  -webkit-transition: all $transition-time $tranistion-effect;
  -moz-transition: all $transition-time $tranistion-effect;
  &:hover{
      transition: all $transition-time $tranistion-effect;
      -webkit-transition: all $transition-time $tranistion-effect;
      -moz-transition: all $transition-time $tranistion-effect;
  }
}